*
    padding: 0
    margin: 0
    box-sizing: border-box

a
    text-decoration: none

@import components/_const
@import components/_nav
@import components/_header
@import components/_about
@import components/_num
@import components/_partners

.nav, .header, .about__wrapper, .num__wrapper, .partners__item
    padding: 0px 300px

@media (max-width: 1900px)
    .nav, .header, .about__wrapper, .num__wrapper, .partners__item
        padding: 0px 15%