.about
    background-image: url('../img/about-2.png')
    background-repeat: no-repeat
    background-position: 100% 100%
    background-size: cover
    padding: 0 100px
    position: relative

    &__wrapper

        & h2
            color: #fad63a
            @include bold
            font-size: 24px
            text-align: left 
            padding: 40px 0px

        & p 
            color: $white
            @include medium
            font-size: 16px
            text-align: left
            line-height: 1.625
            padding-bottom: 40px   


#aboutLink
    position: absolute
    top: -100px  

           
@media (max-width: 1825px)
    .about
        background-position: 40% 100%

@media (max-width: 1375px)
     .about
        background-position: 45% 100%

@media (max-width: 1200px)
    .about
        background-position: 0% 100%
        background-image: none
        background-color: #141414


@media (max-width: 768px)
    .about

        & h2
            text-align: center

        & p 
            text-align: left

    .about br
        display: none

@media (max-width: 610px)
    .about
        padding: 0px