.nav
    color: $white
    padding-top: 45px !important
    padding-bottom: 100px !important

    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center

    &__logo
        display: flex
        align-items: center
        max-width: 35%
        margin-right: 40px

        & img
            width: 115px
            height: 115px
            cursor: pointer
            margin-right: 20px
            

        &-text
            display: flex
            flex-direction: column
            font-size: 16px

            & h3
                @include bold
                margin-bottom: 5px

            & p
                @include medium
                line-height: 1.625

    &__list
        display: flex
        align-items: center
        justify-content: space-between

        & p
            @include medium
            font-size: 16px
            margin-right: 40px
            cursor: pointer

            &:last-child
                margin-right: 0px

            & a
                color: $white

    &__link
        margin-right: 40px

    &__social
        display: flex
        justify-content: center
        align-items: center

        & a
            display: block
            text-transform: uppercase
            width: 210px
            color: $white
            border-radius: 10px
            border: 0
            outline: 0
            padding: 5px 15px
            display: flex
            justify-content: space-around
            align-items: center
            @include bold
            font-size: 10px
            cursor: pointer
            margin-top: 20px

            &:nth-child(1)
                background: #00a8fc
                background: linear-gradient(0deg, #00a8fc 0%, #008bd0 90%)
                box-shadow: 0px 15px 30px -10px #008bd0
                margin-right: 20px

                &:hover
                    transition: 0.4s
                    box-shadow: 0px 10px 20px -10px #008bd0

                & img 
                    width: 21px
                    height: 21px

            &:nth-child(2)
                background: #5bf175
                background: linear-gradient(0deg, #33b831 0%, #5bf175 90%)
                box-shadow: 0px 15px 30px -10px #33b831

                &:hover
                    transition: 0.4s
                    box-shadow: 0px 10px 20px -10px #33b831

                & img 
                    width: 21px
                    height: 21px


    &__contact
        text-align: right
        

        & li
            color: $white
            @include medium
            font-size: 14px
            list-style-type: none
            margin-bottom: 5px

            &::before
                content: ''
                display: inline-block
                width: 7px
                height: 7px
                margin-right: 5px
                background-color: #1ed300
                border-radius: 100%
                animation: shine2 1s cubic-bezier(1, 0, 0, 1) infinite

        & h2
            @include bold
            font-size: 24px
            margin-bottom: 5px
            color: $white

@keyframes shine2 
  0% 
    opacity: 0
  100%
    opacity: 1

@media (max-width: 1600px)
    .nav__logo 
        max-width: 35%


@media (max-width: 1450px)
    .nav

        &__contact h2
            font-size: 22px    

        &__list p
            margin-right: 30px  

    .nav__logo-text p
        font-size: 15px     

@media (max-width: 1390px)
    .nav
        &__logo
            flex-direction: column

            &-text h3
                text-align: center

            &-text p
                text-align: center

            & img
                margin-right: 0px

        &__social
            flex-direction: column

            & a:nth-child(1) 
                margin-right: 0px

@media (max-width: 1335px)
    .nav
        padding-top: 20px !important

    .nav__list
        flex-direction: column
        margin-right: 0px
        align-self: flex-end

        & p
            margin-right: 0px
            margin-bottom: 10px

            &:last-child
                margin-bottom: 0px

    .nav__contact
        align-self: flex-end

@media (max-width: 960px)
    .nav__social a
        width: 100%

        & img
            margin-right: 10px

        & p
            font-size: 9px

@media (max-width: 910px)
    .nav__social
        justify-content: center
        & a 
            width: 45px !important

            & p
                display: none

            & img
                margin-right: 0px
                width: 30px !important
                height: 30px !important

            &:nth-child(2)
                margin-right: 0px !important

    .nav__link
        margin-right: 34px !important
                
                     
@media (max-width: 700px)
    .nav__list
        display: none

    .nav__logo
        max-width: 50%

    .nav__logo-text p
        font-size: 16px

    .nav__contact h2
        font-size: 18px

    .nav__link
        margin-right: 0px !important

    .nav__wrapper
        align-items: end

@media (max-width: 630px)
    .nav__wrapper
        position: relative

    .nav__link
        position: absolute
        right: 0
        top: 35px

    .nav__social
        flex-direction: row
        margin-bottom: 15px

        & a
            &:nth-child(1)
                margin-right: 15px !important

@media (max-width: 460px)
    .nav__wrapper
        flex-direction: column

    .nav__logo
        max-width: 100%
        margin-bottom: 20px
        margin-right: 0px

    .nav__contact
        align-self: center

        & h2
            text-align: center

    .nav__social
        margin-bottom: 0px

    .nav__link
        right: 50%
        left: 50%
        top: auto
        bottom: -50px
        
