.problem
    padding: 50px 0px 50px 0px
    background-color: #1a1a1a

    &__title 
        @include bold
        font-size: 34px
        color: #f9d548
        text-align: center
        margin-bottom: 40px

    &__button
        text-transform: uppercase
        width: 25%
        color: $white
        background: rgb(255,146,0)
        background: linear-gradient(0deg, rgba(255,146,0,1) 0%, rgba(255,190,0,1) 90%)
        border-radius: 10px
        border: 0
        outline: 0
        padding: 25px
        box-shadow: 0px 20px 30px -10px #ff9200
        display: flex
        justify-content: center
        align-items: center
        margin: 10px auto 20px auto
        @include bold
        font-size: 20px
        cursor: pointer

        &:hover
            transition: 0.4s
            box-shadow: 0px 10px 20px -10px #ff9200

    &__item

        position: relative
        width: 24%
        border: 5px solid #242424
        padding: 25px
        background-color: #242424 
        border-radius: 10px
        cursor: pointer

        & p
            @include bold
            text-align: center
            color: $white
            font-size: 20px
            z-index: 2
            display: flex
            justify-content: center
            align-items: center
            user-select: none

        &-wrapper
            display: flex
            justify-content: space-between
            margin-bottom: 50px

        &-inner

            position: relative
            min-height: 200px
            margin-bottom: 50px

            & h2
                font-size: 30px
                @include bold
                color: #f9d548
                text-align: center
                margin-bottom: 40px

            & p
                @include medium
                font-size: 16px
                text-align: center
                color: $white
                margin: 0 auto
                width: 60%

.slider

    &-active
        border: 5px solid #ff9200
        transition: 0.3s

    &-text
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        opacity: 0
        transition: opacity .3s ease-in-out
        margin: auto

        &-active
            transition: opacity .3s ease-in-out
            opacity: 1




@media (max-width: 1330px)
    .no__item-wrapper
        flex-direction: column

    .no__item
        margin-bottom: 60px

        & p br
            display: none

    .problem__button
        min-width: 35%

@media (max-width: 1650px)
    .no__wrapper
        padding: 0 5% !important

@media (max-width: 1220px)
    .problem__item-inner
        min-height: 220px

@media (max-width: 990px)
    .slider-text
        display: none
        position: static

    .problem__item-inner
        min-height: 0px

    .slider-text-active
        display: block

@media (max-width: 1060px)
    .problem__item-wrapper
        display: grid
        grid-template-columns: 45% 45%
        grid-gap: 20px

    .problem__item
        width: 100%

@media (max-width: 620px)
    .problem__button
        width: 45%

@media (max-width: 530px)
    .no__title
        font-size: 24px

    .problem__title
        font-size: 24px

    .problem__item-wrapper
        grid-template-columns: 100%
        grid-gap: 15px
        margin-bottom: 20px

    .problem__item
        padding: 7px
        
        & p
            font-size: 14px
            & br
                display: none

    .problem__item-inner h2
        font-size: 21px
        margin-bottom: 20px

    .problem__item-inner p
        width: 100%

    .problem__item-inner
        min-height: 0px

    .problem__wrapper
        padding: 0 3% !important

    .problem__title
        margin-bottom: 30px

    .problem__button
        width: 50%
        font-size: 14px

    .slider-text-active
        position: static

    .slider-text

        &:nth-child(1)
            min-height: 175px
