.services
    padding: 0 100px
    background-color: #1a1a1a

    &__wrapper
        padding-bottom: 100px !important
        & button
            color: $white
            background: rgb(255,146,0)
            background: linear-gradient(0deg, rgba(255,146,0,1) 0%, rgba(255,190,0,1) 30%)
            box-shadow: 2px 5px 30px 0px #ffb500
            border-radius: 10px
            padding: 40px 30px

            border: 0
            outline: 0
            display: flex
            margin: 0 auto
            @include bold
            font-size: 24px
            margin-top: 30px
            cursor: pointer

            &:hover
                transition: 0.4s
                box-shadow: 0px 0px 0px 0px 


        &-bottom
            @include bold
            font-size: 24px
            color: $white
            text-align: center
            padding-top: 100px
            padding-bottom: 25px
        

    &__inner
        display: flex
        justify-content: space-between

    &__item
        color: #fad63a
        padding: 30px
        background-color: #2a2a2a
        border-radius: 35px
        width: 30%

        & h2
            @include bold
            font-size: 24px
            text-align: center
            margin-bottom: 40px

        & ul li
            @include medium
            font-size: 16px
            line-height: 26px
            margin-bottom: 30px

            &:last-child
                margin-bottom: 0px

@media (max-width: 1260px)
    .services__inner
        flex-direction: column

    .services__wrapper button
        padding: 20px 30px

    .services__item
        width: 100%
        margin-bottom: 30px

        & ul li
            display: block
            text-align: center

@media (max-width: 968px)
    .services__wrapper-bottom
        padding-top: 20px

@media (max-width: 785px)
    .services__wrapper button
        padding: 10px 20px

@media (max-width: 610px)
    .services
        padding: 0px